<!--The whole content below can be removed with the new code.-->
<div style="text-align:center">
  <h1>
    Welcome to {{title}}!!
  </h1>


  <!-- <div>
    <p>Using Element Ref</p>
    <app-element-ref></app-element-ref>
  </div>

  <div>
      <p> create and use Observable </p>
      <app-basic-observable></app-basic-observable>
  </div>

  <div>
      <app-http-observable></app-http-observable>
  </div> -->
  <div>
      <!-- <app-search-with-flat></app-search-with-flat> -->
  </div>
  <div>
      <app-http-header></app-http-header>
  </div>

  <div>
      <app-view-page></app-view-page>
  </div>
</div>
